body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header,header a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #333;
    height: 100px;
    margin-top: 0;
    padding-top: 30px;
    font-family: 'Helvetica', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

.name-email {
    display: flex;
    justify-content: space-between;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(50% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #28a745;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

button:focus {
    outline: none;
}

#contactForm{
    margin: 10px;
}